<a href="https://colab.research.google.com/github/Shrey156/C-97-PRO-97/blob/main/class_97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lists = [1,2,3,3,5]
print(lists[1:4])
print(lists[-1])

[2, 3, 3]
5

In [ ]:
#slicing the list in -ve is starting from left to right
list2 = ["hello","hi","how"]
print(list2[-3:-1])

['hello', 'hi']

In [ ]:
marks_lists =[52,45,66,62,35,62,69,15,20,23,65,88,55,98,46,98,32,65,98,65,54,41]
count=0
for i in marks_lists:
  if i == 62:
    count+=1
count

2

In [ ]:
lower_limit = int(input("Enter the lower range : "))
upper_limit = int(input("Enter the upper range : "))
divide_num = int(input("Enter the number which you want it multiples : "))
for i in range(lower_limit,upper_limit+1):
  if i%divide_num==0:
    print(i)

Enter the lower range : 5
Enter the upper range : 10
Enter the number which you want it multiples : 2
6
8
10

In [ ]:
user_input = input("Enter any sentence : ")
array_new = user_input.split()
array_new

Enter any sentence : hi hhe

['hi', 'hhe']

In [4]:
row = int(input("Enter the rows : "))
s="*"
def stars(rows):
  for i in range(rows):
    print("*"*i)
stars(row+1)

Enter the rows : 5

*
**
***
****
*****